# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Scripts/activate
Scripts/activate_this.py
Scripts/activate.bat
Scripts/activate.fish
Scripts/activate.nu
Scripts/activate.ps1
Scripts/cmark.exe
Scripts/convert-caffe2-to-onnx.exe
Scripts/convert-onnx-to-caffe2.exe
Scripts/deactivate.bat
Scripts/doesitcache.exe
Scripts/dotenv.exe
Scripts/dul-receive-pack
Scripts/dul-upload-pack
Scripts/dulwich.exe
Scripts/f2py.exe
Scripts/get_objgraph
Scripts/httpx.exe
Scripts/huggingface-cli.exe
Scripts/isympy.exe
Scripts/jsonschema.exe
Scripts/keyring.exe
Scripts/langchain-server.exe
Scripts/markdown_py.exe
Scripts/msg_parser.exe
Scripts/nltk.exe
Scripts/normalizer.exe
Scripts/openai.exe
Scripts/pathy.exe
Scripts/pip.exe
Scripts/pip3.11.exe
Scripts/pip3.exe
Scripts/pkginfo.exe
Scripts/poetry.exe
Scripts/publish.py
Scripts/pydoc.bat
Scripts/pygmentize.exe
Scripts/pyproject-build.exe
Scripts/python.exe
Scripts/pythonw.exe
Scripts/spacy.exe
Scripts/torchrun.exe
Scripts/tqdm.exe
Scripts/transformers-cli.exe
Scripts/undill
Scripts/unstructured-ingest.exe
Scripts/uvicorn.exe
Scripts/vba_extract.py
Scripts/virtualenv.exe
Scripts/watchfiles.exe
Scripts/wheel-3.11.exe
Scripts/wheel.exe
Scripts/wheel3.11.exe
Scripts/wheel3.exe
share/doc/networkx-3.1/LICENSE.txt
share/doc/networkx-3.1/examples/README.txt
share/doc/networkx-3.1/examples/3d_drawing/mayavi2_spring.py
share/doc/networkx-3.1/examples/3d_drawing/plot_basic.py
share/doc/networkx-3.1/examples/3d_drawing/README.txt
share/doc/networkx-3.1/examples/algorithms/hartford_drug.edgelist
share/doc/networkx-3.1/examples/algorithms/plot_beam_search.py
share/doc/networkx-3.1/examples/algorithms/plot_betweenness_centrality.py
share/doc/networkx-3.1/examples/algorithms/plot_blockmodel.py
share/doc/networkx-3.1/examples/algorithms/plot_circuits.py
share/doc/networkx-3.1/examples/algorithms/plot_davis_club.py
share/doc/networkx-3.1/examples/algorithms/plot_dedensification.py
share/doc/networkx-3.1/examples/algorithms/plot_girvan_newman.py
share/doc/networkx-3.1/examples/algorithms/plot_iterated_dynamical_systems.py
share/doc/networkx-3.1/examples/algorithms/plot_krackhardt_centrality.py
share/doc/networkx-3.1/examples/algorithms/plot_maximum_independent_set.py
share/doc/networkx-3.1/examples/algorithms/plot_parallel_betweenness.py
share/doc/networkx-3.1/examples/algorithms/plot_rcm.py
share/doc/networkx-3.1/examples/algorithms/plot_snap.py
share/doc/networkx-3.1/examples/algorithms/plot_subgraphs.py
share/doc/networkx-3.1/examples/algorithms/README.txt
share/doc/networkx-3.1/examples/algorithms/WormNet.v3.benchmark.txt
share/doc/networkx-3.1/examples/basic/plot_properties.py
share/doc/networkx-3.1/examples/basic/plot_read_write.py
share/doc/networkx-3.1/examples/basic/plot_simple_graph.py
share/doc/networkx-3.1/examples/basic/README.txt
share/doc/networkx-3.1/examples/drawing/chess_masters_WCC.pgn.bz2
share/doc/networkx-3.1/examples/drawing/knuth_miles.txt.gz
share/doc/networkx-3.1/examples/drawing/plot_center_node.py
share/doc/networkx-3.1/examples/drawing/plot_chess_masters.py
share/doc/networkx-3.1/examples/drawing/plot_custom_node_icons.py
share/doc/networkx-3.1/examples/drawing/plot_degree.py
share/doc/networkx-3.1/examples/drawing/plot_directed.py
share/doc/networkx-3.1/examples/drawing/plot_edge_colormap.py
share/doc/networkx-3.1/examples/drawing/plot_ego_graph.py
share/doc/networkx-3.1/examples/drawing/plot_eigenvalues.py
share/doc/networkx-3.1/examples/drawing/plot_four_grids.py
share/doc/networkx-3.1/examples/drawing/plot_house_with_colors.py
share/doc/networkx-3.1/examples/drawing/plot_knuth_miles.py
share/doc/networkx-3.1/examples/drawing/plot_labels_and_colors.py
share/doc/networkx-3.1/examples/drawing/plot_multipartite_graph.py
share/doc/networkx-3.1/examples/drawing/plot_node_colormap.py
share/doc/networkx-3.1/examples/drawing/plot_rainbow_coloring.py
share/doc/networkx-3.1/examples/drawing/plot_random_geometric_graph.py
share/doc/networkx-3.1/examples/drawing/plot_sampson.py
share/doc/networkx-3.1/examples/drawing/plot_selfloops.py
share/doc/networkx-3.1/examples/drawing/plot_simple_path.py
share/doc/networkx-3.1/examples/drawing/plot_spectral_grid.py
share/doc/networkx-3.1/examples/drawing/plot_tsp.py
share/doc/networkx-3.1/examples/drawing/plot_unix_email.py
share/doc/networkx-3.1/examples/drawing/plot_weighted_graph.py
share/doc/networkx-3.1/examples/drawing/README.txt
share/doc/networkx-3.1/examples/drawing/unix_email.mbox
share/doc/networkx-3.1/examples/graph/plot_dag_layout.py
share/doc/networkx-3.1/examples/graph/plot_degree_sequence.py
share/doc/networkx-3.1/examples/graph/plot_erdos_renyi.py
share/doc/networkx-3.1/examples/graph/plot_expected_degree_sequence.py
share/doc/networkx-3.1/examples/graph/plot_football.py
share/doc/networkx-3.1/examples/graph/plot_karate_club.py
share/doc/networkx-3.1/examples/graph/plot_morse_trie.py
share/doc/networkx-3.1/examples/graph/plot_mst.py
share/doc/networkx-3.1/examples/graph/plot_napoleon_russian_campaign.py
share/doc/networkx-3.1/examples/graph/plot_roget.py
share/doc/networkx-3.1/examples/graph/plot_triad_types.py
share/doc/networkx-3.1/examples/graph/plot_words.py
share/doc/networkx-3.1/examples/graph/README.txt
share/doc/networkx-3.1/examples/graph/roget_dat.txt.gz
share/doc/networkx-3.1/examples/graph/words_dat.txt.gz
share/doc/networkx-3.1/examples/subclass/plot_antigraph.py
share/doc/networkx-3.1/examples/subclass/plot_printgraph.py
share/doc/networkx-3.1/examples/subclass/README.txt
share/man/man1/isympy.1
pyvenv.cfg
include/site/python3.11/greenlet/greenlet.h
Scripts/ipython.exe
Scripts/ipython3.exe
Scripts/jupyter-kernel.exe
Scripts/jupyter-kernelspec.exe
Scripts/jupyter-migrate.exe
Scripts/jupyter-run.exe
Scripts/jupyter-troubleshoot.exe
Scripts/jupyter.exe
Scripts/pywin32_postinstall.py
Scripts/pywin32_testall.py
share/jupyter/kernels/python3/kernel.json
share/jupyter/kernels/python3/logo-32x32.png
share/jupyter/kernels/python3/logo-64x64.png
share/jupyter/kernels/python3/logo-svg.svg
share/man/man1/ipython.1
